button, .btn{
    margin:5px;
    
}
.giphyPic{
    padding:5px;
    margin: 5px;
}

body{
    background-image: url("https://image.freepik.com/free-vector/retro-background-of-palm-leaves-and-hand-drawn-conch_23-2147659471.jpg")

}
